* {
	margin: 0;
	padding: 0;
}

.msg {
	height: 20px;
}

input {
	height: 40px;

	&::placeholder {
		color: #3498DB !important;
		font-style: italic;
	}
}


.todo {
	margin-bottom: 5px;
	user-select: none;

	img {
		cursor: pointer;

		&:hover {
			filter: grayscale(100%);
		}
	}

	.edit {
		width: 30px;
		height: 26px;
		margin: 0 2px;
	}

	.delete {
		width: 30px;
		height: 30px;
		margin: 0 2px;
	}

	.img-done {
		display: none;
	}

	.serial {
		padding-right: 10px;
		padding: 8px;
		font-size: 25px;
		line-height: 20px;
	}

	.info {
		margin-right: auto;
		margin-left: 10px;
	}


}

.todo.done {
	opacity: 0.3;

	.img-done {
		width: 30px;
		height: 30px;
		margin: 0 2px;
		display: block;
	}
}